.available-human-book-card {

  width: 250px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .3s ease;

  &.ng-enter,
  &.ng-leave {
    transition: opacity .3s;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity: 0;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  & .panel-heading {
    height: 40px;
    overflow: hidden;
  }

  & .panel-body {
    height: 90px;
    overflow: hidden;
  }

  &--line-through {
    text-decoration: line-through;
    color: $color-light-gray;
    & .panel-heading {
      color: $color-light-gray;
    }
    & .hl-panel {
      box-shadow: none;
      border: 1px solid $color-extra-light-gray;
    }
  }

}
