<nav id="hl-navbar" class="navbar navbar--hl navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <a ui-sref="humanLibrary" class="navbar-brand">
      {{ 'mainMenu.header'|translate }}
    </a>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <button class="btn btn-default navbar-btn" data-ng-click="admitBook()">{{ 'mainMenu.admitBook'|translate }}
        </button>
      </li>
      <li>
        <button class="btn btn-default navbar-btn" data-ng-click="newEdition()" title="{{ 'mainMenu.newEdition'|translate }}">
          <i class="glyphicon glyphicon-trash"></i>
        </button>
      </li>
      <li>
        <a class="btn btn-default navbar-btn" data-ng-href="{{libraryExportUrl}}" download="human-library-edition-{{library.startDate|date:'yyyy-M-d'}}.json" title="{{ 'mainMenu.exportLibrary'|translate }}">
          <i class="glyphicon glyphicon-cloud-download"></i>
        </a>
      </li>
      <li>
        <button class="btn btn-default navbar-btn" title="{{ 'mainMenu.importLibrary'|translate }}" hl-file-input-wrapper hl-import-library="library">
          <i class="glyphicon glyphicon-cloud-upload"></i>
        </button>
      </li>
      <li>
        <hl-change-language></hl-change-language>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2" data-ng-repeat="book in library.books" data-hl-book>
      <div class="panel panel-default hl-panel hl-panel--book">
        <div class="panel-body text-center">
          <a ui-sref="humanLibrary.book({bookId: $index})" tabindex="-1"><i class="glyphicon glyphicon-user"></i></a>
        </div>
        <header class="panel-heading" ng-class="{'panel-heading-rented': book.isRented()}">
          <div class="text-right panel-book-time pull-right text-center" data-ng-class="{'text-warning': progress.status == 'warning', 'text-danger': progress.status == 'danger' }">
            {{progress.timer|timer}}
          </div>
          <div class="panel-heading-footer">
            <div class="row">

              <div class="col-xs-9">
                <input class="panel-book-input panel-book-input-lg" type="text" placeholder="{{ 'manageBooks.namePlaceholder'|translate }}" data-ng-model="book.name" />
              </div>
              <div class="col-xs-3">
                <span class="badge pull-right">{{book.rentals.length}}</span>
              </div>
              <div class="col-xs-12">
                <input class="panel-book-input" type="text" placeholder="{{ 'manageBooks.titlePlaceholder'|translate }}" data-ng-model="book.title" />
              </div>
            </div>
          </div>
        </header>
        <footer class="panel-footer">
          <div data-ng-show="!book.isRented()">
            <button class="btn btn-default btn-block" tabindex="-1" data-ng-click="rentBook(book)">{{ 'manageBooks.actions.rent'|translate }}
            </button>
          </div>
          <div data-ng-show="book.isRented()">
            <button class="btn btn-default btn-block" tabindex="-1" data-ng-click="book.return()">{{ 'manageBooks.actions.return'|translate }}
            </button>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>

<ui-view></ui-view>