<!DOCTYPE html>
<html ng-app="humanLibrary">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ŻYWA BIBLIOTEKA</title>
    <meta name="description" content="System obsługi Żywej Biblioteki.">
    <%- stylesheets() %>
  </head>

  <body ng-controller="LibraryCtrl" library>

    <div id="header">
      <h1>ŻYWA BIBLIOTEKA</h1>
      <div class="controlls">
        <span class="filters">
          <input type="checkbox" ng-model="library.filters.showAvailable" id="show-available"/><label for="show-available">Dostępne</label>
          <input type="checkbox" ng-model="library.filters.showRented" id="show-rented"/><label for="show-rented">Wypożyczone</label>
          <input type="checkbox" ng-model="library.filters.showOnBreak" id="show-on-break"/><label for="show-on-break">Na przerwie</label>
          <input type="checkbox" ng-model="library.filters.showAbsent" id="show-absent"/><label for="show-absent">Nieobecne</label>
        </span>
        <a class="add-book" ng-click="addBook()">Dodaj książkę</a>
        <a class="export" ng-click="overlay.visible = true">Import/Eksport</a>
      </div>
    </div>

    <div id="content">
      <div class="book" ng-repeat="book in library.books|status:library.filters|orderBy:['niceStatus', 'name']" style="{{book.style}}" book>
        <div class="basic">
          <input class="name" type="text" placeholder="Wpisz nazwę książki" ng-model="book.name" ng-class="{gray: book.status == 'break' || book.status == 'absent'}" />
          <div class="status-bar" ng-class="{gray: book.status == 'break' || book.status == 'absent'}" style="border-color: {{book.bar.color}};">
            <div class="status-progress" style="width: {{book.bar.progress}}%; background-color: {{book.bar.color}};"></div>
          </div>
          <div class="status" ng-bind="book.niceStatus"></div>
          <button id="return-button-{{$index}}" ng-click="returnBook(book.id)" ng-show="book.status == 'rented'">Zwróć</button>
          <span ng-show="book.status == 'available'">
            <button ng-click="rentBook(book.id)">Wypożycz</button>
            na
            <input class="period" type="text" ng-model="book.period" />
            minut
          </span>
          <div class="right-corner">
            <a class="more" ng-click="toggleMore()" ng-class="{rotate: book.style != ''}"></a>
            <div class="counter">{{book.rentals.length}}</div>
            <span id="break-panel-{{$index}}" ng-class="{hidden: book.status != 'available' &&  book.status != 'break'}"><input type="checkbox" ng-click="toggleStatus(book.id, 'break')" ng-checked="book.status == 'break'" id="break{{$index}}"/><label for="break{{$index}}">Na przerwie</label></span>
            <span id="absent-panel-{{$index}}" ng-class="{hidden: book.status != 'available' && book.status != 'absent'}"><input type="checkbox" ng-click="toggleStatus(book.id, 'absent')" ng-checked="book.status == 'absent'" id="absent{{$index}}"/><label for="absent{{$index}}">Nieobecna</label></span>
          </div>
        </div>
        <div ng-hide="book.style == ''">
          <hr />
          <div class="notes-remove-panel">
            <input class="notes" type="text" placeholder="Tutaj możesz zapisywać notatki do książki" ng-model="book.notes" />
            <button class="remove-book-button"ng-click="removeBook(book.id)">Usuń książkę</button>
          </div>
          <hr />
          <div class="rentals">
            <div class="rental" ng-repeat="rental in book.rentals">
              <span>[{{rental.period}} minut] {{rental.rented|date:'d.M.yyyy | H:mm:ss'}}</span>
              <span ng-hide="rental.returned == null">- {{rental.returned | date:'H:mm:ss'}}</span>
              <button ng-click="removeRental($parent.book.id, rental.id)">Usuń</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="overlay-darkness hidden" ng-class="{hidden: !overlay.visible}" ng-click="overlay.visible = false"></div>
    <div class="overlay hidden" ng-class="{hidden: !overlay.visible}">
      <textarea ng-model="overlay.data"></textarea>
      <button class="import" ng-click="import()">Importuj</button>
      <button class="cancel" ng-click="overlay.visible = false">Anuluj</button>
    </div>

    <%- javascripts() %>
  </body>
</html>