.undo-bubble {

  display: block;
  position: fixed;
  right: 20px;
  bottom: 50px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s, visibility .3s;
  color: white;
  background-color: $color-dark-gray;
  border-radius: 2px;

  &__border {
    display: inline-block;
    padding: 10px 15px;
  }

  &__undo {
    margin-left: 7px;
  }

  &--visible {
    visibility: visible;
    opacity: 1;
  }

}
