<top-bar>

  <ul class="nav navbar-nav navbar-right">
    <li>
      <button class="btn btn-default navbar-btn" title="{{ 'mainMenu.admitBook'|translate }}" ng-click="admitBook()">
        <i class="glyphicon glyphicon-plus"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-default navbar-btn" type="button" ng-click="vm.toggleReadersMonitorWindow()" title="{{ 'mainMenu.showAvailable'|translate }}">
        <i class="glyphicon glyphicon-new-window"></i>
      </button>
    </li>
    <li>
      <button class="btn btn-default navbar-btn" ng-click="newEdition()" title="{{ 'mainMenu.startNewEdition'|translate }}">
        <i class="glyphicon glyphicon-trash"></i>
      </button>
    </li>
    <li>
      <a class="btn btn-default navbar-btn" ng-href="{{libraryExportUrl}}" download="human-library-edition-{{library.startDate|date:'yyyy-M-d'}}.json" title="{{ 'mainMenu.exportLibrary'|translate }}">
        <i class="glyphicon glyphicon-save"></i>
      </a>
    </li>
    <li>
      <button class="btn btn-default navbar-btn" title="{{ 'mainMenu.importLibrary'|translate }}" hl-file-input-wrapper hl-import-library="setNewLibrary(importedLibrary)">
        <i class="glyphicon glyphicon-open"></i>
      </button>
    </li>
    <li>
      <hl-change-language></hl-change-language>
    </li>
  </ul>

</top-bar>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 flex">
      <svg class="icon on-input-left" viewBox="0 0 64 64">
        <use xlink:href="${require('../_assets/ikons/magnifying_glass.svg')}#Layer_1"/>
      </svg>
      <input class="input" type="text" placeholder="{{'search.placeholder'|translate}}" ng-model="vm.query" hl-search hl-search-on-esc="vm.clearQuery()">
      <button type="button" class="button on-input-right" ng-show="vm.query" ng-click="vm.clearQuery()">
        <svg class="icon icon--button" viewBox="0 0 64 64">
          <use xlink:href="${require('../_assets/ikons/close.svg')}#Layer_1"/>
        </svg>
      </button>
    </div>
  </div>
</div>

<div class="human-books">

  <human-books-cards class="human-books__cards"></human-books-cards>

  <footer class="human-books__footer">
    <div class="container text-right">
      Made by
      <a href="mailto:piotr@baranowski.io">Piotrek Baranowski</a>&nbsp;&nbsp;
      <a href="https://github.com/awesomelibrary/awesomelibrary/issues" target="_blank">{{ 'footer.file'|translate }}</a>
    </div>
  </footer>

</div>

<ui-view></ui-view>

<undo-bubble class="undo-bubble"></undo-bubble>
