.hl-panel {

  background-color: $gray-lighter;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 7px 0 $gray-light;
  transition: box-shadow .2s;
  margin: 0;

  &--warning {
    box-shadow: 0 0 7px 2px $brand-warning;
  }
  &--danger {
    box-shadow: 0 0 7px 4px $brand-danger;
  }
  &--book {
    height: 250px;
    position: relative;
    overflow: hidden;

    .panel-heading {
      background-color: rgba(255,255,255,.9);
      border: none;
      height: 256px;
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      padding: calc(#{$panel-body-padding} + 50px) $panel-body-padding $panel-body-padding $panel-body-padding;
      transform: translate(0, -200px);

      transition: transform $animationBounce .3s;

      .panel-heading-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: $panel-body-padding;
      }
    }

    .panel-heading-rented {
      transform: translate(0, -50px);
    }

    .panel-footer {
      border: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.9);
      padding: $panel-body-padding;
    }

    .panel-body {
      margin-top: 55px;
      margin-bottom: 45px;
      font-size: 120px;
      position: relative;
      color: $gray-light;
    }

  }

  &__book-link {
    color: lighten($gray-light, 30%);
    transition: .15s color;

    &:hover {
      color: lighten($gray, 30%);
    }
  }

}

.heading-with-button-sm {
  line-height: 30px;
}

.panel-book-input {
  padding: 0;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  height: auto;
  border-bottom: 1px solid transparent;
  transition: border-color .2s;

  &:focus, &:hover {
    border-bottom-color: $input-border;
    box-shadow: none;
  }
}

.panel-book-input-lg {
  font-size: 16px;
}