.navbar--hl {
  min-width: $screen-min-width;
  box-shadow: 0 0 20px 0 $navbar-default-bg;
}

.navbar-brand {
  font-family: 'Garage Gothic';
  padding-top: 6px;
  padding-bottom: 0px;
  font-size: 39px;
  line-height: 45px;
  text-transform: uppercase;

  .hl-navbar--logo {
    display: inline-block;
    vertical-align: top;
    margin-right: .25em;
  }

}

