.navbar--hl {
  min-width: $screen-min-width;
  box-shadow: 0 0 20px 0 $navbar-default-bg;
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: lighter;

  .hl-navbar--logo {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    height:20px
  }

}

