.human-books {

  min-height: calc(100% - 46px);
  position: relative;
  padding-bottom: 34px;

  &__cards {
    display: block;
    position: relative;
    transition: height .3s;
  }

  &__footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1rem;
    padding: 10px 0;
  }

  &__hajs {
    height: 42px;
    margin-right: 10px;
  }

}
