.human-book-card {

  width: 170px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .3s ease;

  &.ng-enter,
  &.ng-leave {
    transition: opacity .3s;
  }

  &.ng-leave.ng-leave-active,
  &.ng-enter {
    opacity: 0;
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }

  &__clock {
    float: right;
    width: 111px;
    height: 62px;
    background-image: url('_assets/pictures/dymek.svg');
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    padding-top: 9px;
  }

  &__unavailable {
    font-size: 100px;
    text-align: center;
    margin-top: 20px;
    color: $gray-lighter;
  }

}
