.human-books {

  @books-footer-height: 30px;

  min-height: 100%;
  position: relative;
  padding-bottom: @books-footer-height;

  &__cards {
    display: block;
    position: relative;
    transition: height .3s 1s;
  }

  &__footer {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: @books-footer-height;
    font-size: 1rem;
  }

}