@import "_styles/variables";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "_styles/fonts";

@import "_styles/navbar";
@import "_styles/hlPanel";

@import "global/undo/_styles/undoBubble";

@import "availableHumanBooks/_styles/availableHumanBookCard";
@import "availableHumanBooks/_styles/availableHumanBooksCards";

@import "humanBooks/_styles/humanBooks";
@import "humanBooks/_styles/humanBookCard";

@import "humanBooks/humanBook/_styles/humanBook";

@import "_styles/StyleTopBar";

html {
  min-width: $screen-min-width;
}

body {
  padding-top: 51px;
  min-width: $screen-min-width;
}

#hl-navbar {
    .navbar-right .navbar-btn {
        margin-right: 8px;
    }
}

.fake-hidden {
  overflow: hidden;
  width: 0;
  height: 0;
}

.navbar-nav > li > a.btn {
  padding: 6px 12px;
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}

.full-height {
  height: 100%;
}

a,
a:active,
a:focus,
a:hover,
a:visited,
.btn,
.btn:active,
.btn:focus,
.btn:hover {
  outline: none !important;
}

.btn {
  transition-duration: .15s;
  transition-property: background-color, color, border-color, box-shadow;
}