@import "../../bower_components/bootstrap/less/bootstrap";
@import "_stylesheets/bootstrapVariables";
@import "_stylesheets/fonts";

@import "_stylesheets/navbar";
@import "_stylesheets/widgets/panel-book";
@import "book/index";

body {
  padding-top: 51px;
  padding-bottom: @grid-gutter-width;
  min-width: @screen-sm-min;
}

////////////////////////////////////////////////////////////////////////////////
// Elementy występujące raz w całej aplikacji
#hl-navbar {
    .navbar-right .navbar-btn {
        margin-right: 8px;
    }
}

////////////////////////////
// kolory biblioteki
@library-red: #d3401e;
@library-dark-red: #701e56;

@animationBounce: cubic-bezier(.2,0,.2,1.2);

.fake-hidden {
  overflow: hidden;
  width: 0;
  height: 0;
}

.navbar-nav > li > a.btn {
  padding: 6px 12px;
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}