@import "../../bower_components/bootstrap/less/bootstrap.less";
@import "_stylesheets/bootstrapVariables.less";
@import "_stylesheets/fonts.less";

@import "_stylesheets/widgets/panel-book.less";

body { padding-top: 51px; }

////////////////////////////////////////////////////////////////////////////////
// Elementy występujące raz w całej aplikacji
#hl-navbar {
    .navbar-right .navbar-btn {
        margin-right: 8px;
    }
}

////////////////////////////
// kolory biblioteki
@library-red: #d3401e;
@library-dark-red: #9d3016;

@animationBounce: cubic-bezier(.2,0,.2,1.2);

.fake-hidden {
  overflow: hidden;
  width: 0;
  height: 0;
}

.navbar-nav > li > a.btn {
  padding: 6px 12px;
}