/* line 8, /home/bolo/Projekty/human-library/src/assets/stylesheets/book.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bolo\/Projekty\/human-library\/src\/assets\/stylesheets\/book\.less}line{font-family:\000038}}
.book {
  font-size: 14px;
  margin: 1px 5px 0 5px;
  padding: 10px 5px 10px 5px;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  height: 25px;
  color: #9d3016;
  transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  /* {
    transition: @params;
    -moz-transition: @params;
    -webkit-transition: @params;
    -o-transition: @params;
  }*/
  /*a:hover {
    opacity: 0.5;
  }*/
  /*.name { width: 300px; }
  .name.gray { border-color: #E8E8E8; color: #E8E8E8; }

  /////////////////////////////
  // input notatki do książki
  .notes {
    position: absolute;
    right: 126px;
    left: 0;
  }
  .remove-book-button {
    position: absolute;
    right: 0;
  }*/
  /*
  //licznik i rozwijanie książki
  .right-corner {
    float: right;
    display: inline-block;
    vertical-align: middle;
    
    .counter {
      float: right;
      width: 50px;
      text-align: right;
    }
    
    .more {
      display: block;
      float: right;
      width: 20px;
      height: 20px;
      margin: 1px 0 1px 5px; 
      background: url('images/book-buttons.png');
    }
  }
  
  .notes-remove-panel {
    position: relative;
    height: 28px;
  }
  
  .rentals {
    height: 195px;
    overflow: auto;
    .rental {
      line-height: 30px;
      width: 600px;
      button {
        float: right;
        margin-top: 3px;
      }
    }
  }*/
}
/* line 29, /home/bolo/Projekty/human-library/src/assets/stylesheets/book.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bolo\/Projekty\/human-library\/src\/assets\/stylesheets\/book\.less}line{font-family:\0000329}}
.book .basic ul.inline li {
  vertical-align: middle;
}
/* line 41, /home/bolo/Projekty/human-library/src/assets/stylesheets/book.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bolo\/Projekty\/human-library\/src\/assets\/stylesheets\/book\.less}line{font-family:\0000341}}
.book hr {
  height: 6px;
  outline-width: 0;
  border-width: 0;
  background-color: #cfcfcf;
}
/* line 67, /home/bolo/Projekty/human-library/src/assets/stylesheets/book.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bolo\/Projekty\/human-library\/src\/assets\/stylesheets\/book\.less}line{font-family:\0000367}}
.book .status-bar {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 23px;
  border: 1px solid #00ff00;
  border-radius: 4px;
}
/* line 75, /home/bolo/Projekty/human-library/src/assets/stylesheets/book.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bolo\/Projekty\/human-library\/src\/assets\/stylesheets\/book\.less}line{font-family:\0000375}}
.book .status-bar .status-progress {
  width: 100%;
  height: 100%;
  background-color: #00ff00;
  border-radius: 4px;
}
/* line 82, /home/bolo/Projekty/human-library/src/assets/stylesheets/book.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bolo\/Projekty\/human-library\/src\/assets\/stylesheets\/book\.less}line{font-family:\0000382}}
.book .status-bar.gray {
  border-color: #E8E8E8 !important;
}
/* line 84, /home/bolo/Projekty/human-library/src/assets/stylesheets/book.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bolo\/Projekty\/human-library\/src\/assets\/stylesheets\/book\.less}line{font-family:\0000384}}
.book .status-bar.gray .status-progress {
  background-color: #E8E8E8 !important;
}
/* line 89, /home/bolo/Projekty/human-library/src/assets/stylesheets/book.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bolo\/Projekty\/human-library\/src\/assets\/stylesheets\/book\.less}line{font-family:\0000389}}
.book .status {
  display: inline-block;
  width: 80px;
  text-align: center;
}
/* line 135, /home/bolo/Projekty/human-library/src/assets/stylesheets/book.less */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/bolo\/Projekty\/human-library\/src\/assets\/stylesheets\/book\.less}line{font-family:\00003135}}
.rotate {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}
