<nav id="hl-navbar" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <span class="navbar-brand">{{ 'mainMenu.header'|translate }}</span>
        <ul class="nav navbar-nav navbar-right">
            <li><button class="btn btn-primary navbar-btn" data-ng-click="admitBook()">{{ 'mainMenu.admitBook'|translate }}</button></li>
        </ul>
    </div>
</nav>

<div class="card-book" data-ng-repeat="book in library.books" data-hl-book>
    <header>
        <span class="badge pull-right">{{book.rentals.length}}</span>
        <div class="row">
            <div class="col-xs-9">
                <input class="form-control input-lg" type="text" placeholder="{{ 'manageBooks.namePlaceholder'|translate }}" data-ng-model="book.name" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <input class="form-control input-sm" type="text" placeholder="{{ 'manageBooks.titlePlaceholder'|translate }}" data-ng-model="book.title" />
            </div>
        </div>
    </header>
    <div class="row" data-ng-hide="true">
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="progress">
                <div class="progress-bar" data-ng-class="{'progress-bar-warning': progress.status == 'warning', 'progress-bar-danger': progress.status == 'danger'}" role="progress" aria-valuenow="{{progress.percent}}" aria-valuemin="0" aria-valuemax="100" data-ng-style="{width: progress.percent + '%'}"></div>
            </div>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right">
            <span class="text-muted" data-ng-class="{'text-warning': progress.status == 'warning', 'text-danger': progress.status == 'danger' }">{{progress.timer|timer}}</span>
        </div>
    </div>
    <footer>
        <div class="row" data-ng-show="!book.isRented()">
            <div class="col-xs-12">
                <button class="btn btn-default btn-block" tabindex="-1" data-ng-click="rentBook(book)">{{ 'manageBooks.actions.rent'|translate }}</button>
            </div>
        </div>
        <div class="row" data-ng-show="book.isRented()">
            <div class="col-xs-4">
                <button  class="btn btn-default btn-block" tabindex="-1" data-ng-click="book.cancelRental()">{{ 'manageBooks.actions.cancelRental'|translate }}</button>
            </div>
            <div class="col-xs-8">
                <button class="btn btn-default btn-block" tabindex="-1" data-ng-click="book.return()">{{ 'manageBooks.actions.return'|translate }}</button>
            </div>
        </div>
    </footer>
</div>